@charset "utf-8";

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/proximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/proximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/proximaNova/ProximaNova-Semibold.eot");
  src: url("../fonts/proximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/proximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Billabong';
  font-style: normal;
  font-weight: normal;
  src: local("Billabong"), url("../fonts/billabong/Billabong.woff") format("woff"), url("../fonts/billabong/Billabong.woff") format("truetype");
}

html {
  height: 100%;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 400;
  background: #fff;
  font-size: 16px;
  color: #000;
  line-height: 1.3;
  height: 100%;
}

.blocker {
  z-index: 1000 !important;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

input:focus,
input:active,
textarea:focus,
textarea:active,
button:focus,
button:active,
span:focus,
span:active,
button:focus,
button:active {
  outline: none;
}

select:focus,
select:hover,
option:hover,
option:focus {
  outline: none;
}

.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
  background: #fff;
}

.offset-two-side {
  padding: 60px 0;
}

.title-s {
  text-align: center;
  font-size: 32px;
  color: #000;
  font-family: 'Lobster', cursive;
}

.logo-wrap .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.logo-wrap .logo img {
  height: 40px;
}

.logo-wrap .logo .name-site {
  font-family: 'Billabong', sans-serif;
  padding-left: 15px;
  font-size: 34px;
  color: #000;
}

.direct {
  position: absolute;
  right: 30px;
  bottom: 10px;
  cursor: pointer;
  z-index: 1000;
  width: 26px;
  height: 26px;
}

.direct:before {
  content: '';
  position: absolute;
  background: url(../images/direct.png) no-repeat;
  background-size: cover;
  width: 33px;
  height: 33px;
}

.wrap-input {
  margin-top: 10px;
}

.wrap-input p {
  margin-bottom: 4px;
  color: #000;
  font-size: 18px;
}

.wrap-input input,
.wrap-input .message-to-author {
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: 50px;
  width: 100%;
  border: none;
  background: #fff;
  padding: 0 20px;
  border-radius: 3px;
  font-size: 16px;
}

.wrap-input .message-to-author {
  height: 150px;
  padding: 20px;
}

.will-contact {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.will-contact.block-seen {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.will-contact.block-seen .social-network {
  -ms-flex-preferred-size: 15%;
  flex-basis: 15%;
}

.will-contact .social-network {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
  text-align: center;
  padding: 25px 0;
  border-radius: 4px;
}

.will-contact .social-network.green-theme {
  background: #76ca75;
}

.will-contact .social-network.blue-theme {
  background: #4eacea;
}

.will-contact .social-network.dark-blue {
  background: #7540aa;
}

.will-contact .social-network:nth-child(2) {
  margin: 0 5%;
}

.will-contact .social-network img {
  height: 40px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.wrap-circle {
  background: #000;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.wrap-circle.hidden {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

.circle {
  position: relative;
  width: 100px;
  height: 100px;
}

.circle svg {
  fill: none;
  stroke: #8a3ab9;
  stroke-linecap: round;
  stroke-width: 3;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  -webkit-animation: stroke-draw 6s ease-out infinite alternate;
  animation: stroke-draw 6s ease-out infinite alternate;
}

.circle img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70px;
  border-radius: 50%;
  -webkit-filter: invert(1);
  filter: invert(1);
  height: 70px;
}

@-webkit-keyframes stroke-draw {
  from {
    stroke: #8a3ab9;
    stroke-dasharray: 1;
  }

  to {
    stroke: #cd486b;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    stroke-dasharray: 8;
  }
}

@keyframes stroke-draw {
  from {
    stroke: #8a3ab9;
    stroke-dasharray: 1;
  }

  to {
    stroke: #cd486b;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    stroke-dasharray: 8;
  }
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.content #stories {
  display: none;
}

.content #zuck-modal {
  height: calc(var(--vh, 1vh) * 100) !important;
}

.content #zuck-modal .goo {
  font-size: 3rem;
  line-height: 1.35;
  display: inline;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: red;
  padding: 0.5rem 1rem;
  -webkit-filter: url("#goo");
  filter: url("#goo");
}

.content #zuck-modal .goo:focus {
  outline: 0;
}

.content .menu-toggle {
  display: inline-block;
  position: absolute;
  right: 0;
  z-index: 2;
}

.content .menu-toggle .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content .menu-toggle .hamRotate.active {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.content .menu-toggle .hamRotate180.active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.content .menu-toggle .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  -o-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #3897f0;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.content .menu-toggle .ham6 .top {
  stroke-dasharray: 40 172;
}

.content .menu-toggle .ham6 .middle {
  stroke-dasharray: 40 111;
}

.content .menu-toggle .ham6 .bottom {
  stroke-dasharray: 40 172;
}

.content .menu-toggle .ham6.active .top {
  stroke-dashoffset: -132px;
}

.content .menu-toggle .ham6.active .middle {
  stroke-dashoffset: -71px;
}

.content .menu-toggle .ham6.active .bottom {
  stroke-dashoffset: -132px;
}

.content .dropdown-menu {
  position: absolute;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  display: none;
  right: 0;
  top: 75px;
  width: 400px;
  background: #fff;
  z-index: 990;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.content .dropdown-menu.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  display: block;
  opacity: 1;
  visibility: visible;
}

.content .dropdown-menu ul {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 0 0 8px;
}

.content .dropdown-menu ul li {
  padding: 10px 0;
}

.content .dropdown-menu ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

#zuck-modal .media img {
  height: 100%;
}

#zuck-modal .media .title-stories {
  margin-top: 40px;
  font-size: 40px;
  color: #fff;
  min-width: 300px;
}

#zuck-modal .media .text-stories {
  font-size: 18px;
  color: #fff;
  margin-top: 25px;
}

div[data-story-id="case1"]:before {
  font-family: 'Helvetica Neue Cyr', sans-serif;
  font-weight: 600;
  background: #75ce56;
  color: #fff;
  border-radius: 6px;
  padding: 2px 5px;
  content: 'Монтаж вентиляции \A и кондиционирования (Москва)';
  position: absolute;
  white-space: pre;
  font-size: 16px;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  z-index: 2;
  left: 45%;
  top: 17%;
}

div[data-story-id="case3"]:before {
  border-radius: 6px;
  padding: 5px;
  content: 'школа детского \A футбола (Казань)';
  position: absolute;
  font-size: 18px;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  font-family: 'Helvetica Neue Cyr', sans-serif;
  font-weight: 600;
  background: #429bed;
  color: #fff;
  display: inline;
  z-index: 2;
  left: 54%;
  top: 17%;
  white-space: pre;
}

div[data-story-id="case4"]:before {
  border-radius: 6px;
  padding: 2px 5px;
  font-family: 'Helvetica Neue Cyr', sans-serif;
  font-weight: 600;
  background: #fff;
  color: #000;
  content: 'студия татуажа \A (Севастополь)';
  white-space: pre;
  position: absolute;
  font-size: 18px;
  z-index: 2;
  left: 54%;
  top: 17%;
}

div[data-story-id="case5"]:before {
  border-radius: 6px;
  padding: 2px 5px;
  font-family: 'Helvetica Neue Cyr', sans-serif;
  font-weight: 600;
  background: #75ce56;
  color: #fff;
  content: ' Квиз, плиз! \A (Новосибирск)';
  white-space: pre;
  position: absolute;
  font-size: 18px;
  left: 54%;
  z-index: 2;
  top: 17%;
}

div[data-story-id="case2"]:before {
  border-radius: 6px;
  padding: 2px 5px;
  font-family: 'Helvetica Neue Cyr', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background: #d90011;
  color: #fff;
  content: ' Сеть кафе \A “Безопасный кекс” \A (Саратов)';
  white-space: pre;
  position: absolute;
  font-size: 14px;
  left: 54%;
  z-index: 2;
  top: 17%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 15px 0;
}

.footer p {
  line-height: 1.7;
  font-size: 16px;
}

.footer a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footer a:hover {
  color: #007bff;
}

.footer .logo img {
  height: 40px;
}

.blocker {
  padding: 0 !important;
}

.modal {
  width: 100% !important;
  height: auto;
  min-height: 400px;
  max-width: 560px !important;
  background: #f0f1f6;
  padding: 50px 30px !important;
  border-radius: 8px !important;
}

.modal a.close-modal {
  display: none !important;
}

.modal .close {
  top: 12.5px !important;
  right: 12.5px !important;
  position: absolute;
}

.modal .close img {
  height: 15px;
}

.modal .title-modal {
  text-align: center;
  font-size: 28px;
  color: #000;
}

.modal p {
  font-size: 16px;
}

.modal .user-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.modal .user-wrap .user-icon img {
  border-radius: 50%;
  height: 100px;
}

.modal .user-wrap .username {
  margin-top: 10px;
  color: #818287;
  font-weight: 300;
  font-size: 17px;
}

.modal .form-feedback .wrap-input {
  margin-top: 10px;
}

.modal .form-feedback .wrap-input p {
  margin-bottom: 4px;
  color: #000;
  font-size: 18px;
}

.modal .form-feedback .wrap-input input {
  -webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  height: 50px;
  width: 100%;
  border: none;
  background: #fff;
  padding: 0 20px;
  border-radius: 3px;
  font-size: 16px;
}

.modal .btn-styles {
  height: 50px;
  border-radius: 3px;
  width: 100%;
  border: none;
  background: #7d94f2;
  color: #fff;
  font-size: 18px;
  margin-top: 37px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  #zuck-modal-content .story-viewer .tip.link:before {
    top: -8px;
  }
}

@media only screen and (max-width: 767px) {
  .offset-two-side {
    padding: 30px 0;
  }

  .content .dropdown-menu {
    width: 290px;
  }

  .content .dropdown-menu ul {
    padding: 15px;
  }

  .content .dropdown-menu ul li {
    padding: 5px 0;
  }

  .content .dropdown-menu ul li a {
    font-size: 16px;
  }

  #zuck-modal .media .title-stories {
    font-size: 22px;
  }

  #zuck-modal .media .text-stories {
    font-size: 16px;
  }

  .header .dropdown-menu ul {
    padding: 15px;
  }

  .header .dropdown-menu ul li a {
    font-size: 16px;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer .copyright,
  .footer .logo-wrap,
  .footer .contacts-wrap {
    padding: 20px 0;
    text-align: center;
  }

  .modal .title-modal {
    font-size: 36px;
  }

  .logo-wrap .logo img {
    height: 27px;
  }

  .logo-wrap .logo .name-site {
    font-size: 26px;
  }

  .will-contact.block-seen .social-network {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    padding: 18px 0;
  }
}

@media only screen and (max-width: 576px) {
  .header .dropdown-menu {
    width: 300px;
  }

  .title-s {
    font-size: 28px;
  }

  .modal .close img {
    height: 23px;
  }

  .modal .title-modal {
    font-size: 25px;
  }
}

/*# sourceMappingURL=maps/style.css.map */
