@media #{$xll} {
  
}

@media #{$xl} {
  
}

@media #{$lg} {
  
}

@media #{$md} {
  #zuck-modal-content .story-viewer .tip.link:before {
    top: -8px;
  }

}

@media #{$sm} {
  .offset-two-side {
    padding: 30px 0;
  }
  .content  {
    .dropdown-menu {
      width: 290px;
      ul {
        padding: 15px;
        li {
          padding: 5px 0;
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
  .header {
    .dropdown-menu {
      ul {
        padding: 15px;
        li {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
  .footer {
    flex-direction: column;
    align-items: center;
    .copyright, .logo-wrap, .contacts-wrap {
      padding: 20px 0;
      text-align: center;
    }
  }

  .modal {
    .title-modal {
      font-size: 36px;
    }
  }
  .logo-wrap {
    .logo {
      img {
        height: 27px;
      }
      .name-site {
        font-size: 26px;
      }
    }
  }
}

@media #{$xs} {

  .header .dropdown-menu {
    width: 300px;
  }
  .title-s {
    font-size: 28px;
  }
  .modal {
    .close {
      img {
        height: 23px;
      }
    }
    .title-modal {
      font-size: 25px;
    }
  }
}