.blocker {
  padding: 0 !important;
}
.modal {
  max-width: 100% !important;
  width: 100% !important;
  border-radius: 0 !important;
  height: 100vh;
  min-height: 400px;
  a.close-modal {
    display: none !important;
  }
  .close {
    top: 12.5px !important;
    right: 12.5px !important;
    position: absolute;
    img {
      height: 30px;
    }
  }
  .title-modal {
    font-size: 48px;
    color: $black;
    font-family: 'Lobster', cursive;
  }
  p {
    padding-top: 20px;
    font-size: 16px;

  }
}